env_variables:
  AUTH_TOKEN: "{{.AUTH_TOKEN}}"
  TELEGRAM_CHAT_IDS: "{{.TELEGRAM_CHAT_IDS}}"
  TELEGRAM_TOKEN: "{{.TELEGRAM_TOKEN}}"
  SENTRY_DSN: "{{.SENTRY_DSN}}"
  SENTRY_TRACES_SAMPLE_RATE: "{{.SENTRY_TRACES_SAMPLE_RATE}}"
  SENTRY_ENVIRONMENT: "{{.SENTRY_ENVIRONMENT}}"
  REDIS_URL: "{{.REDIS_URL}}"