env_variables:
  PORT: "8080"
  AUTH_TOKEN: "your_auth_token"
  TELEGRAM_CHAT_IDS: your_chat_id
  TELEGRAM_TOKEN: "your_bot_token"
  SENTRY_DNS: your_sentry_dsn
  SENTRY_TRACES_SAMPLE_RATE: "1.0"
  SENTRY_PROFILES_SAMPLE_RATE: "1.0"
  SENTRY_ENVIRONMENT: "production"