env_variables:
  PORT: "8080"
  BOT_TOKEN: "your_bot_token"
  AUTH_TOKEN: "your_auth_token"
  BOT_CHAT_ID: your_chat_id
  SENTRY_DNS: your_sentry_dsn
  SENTRY_TRACES_SAMPLE_RATE: "1.0"
  SENTRY_PROFILES_SAMPLE_RATE: "1.0"