apiVersion: v1
kind: Service
metadata:
  name: post-forwarder
  namespace: post-forwarder
spec:
  selector:
    app: post-forwarder
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      name: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-forwarder
  namespace: post-forwarder
  labels:
    app: post-forwarder
spec:
  replicas: 1
  selector:
    matchLabels:
      app: post-forwarder
  template:
    metadata:
      labels:
        app: post-forwarder
    spec:
      containers:
      - name: post-forwarder
        image: post-forwarder
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          timeoutSeconds: 5
        env:
          - name: REDIS_URL
            value: redis://redis:6379
        envFrom:
          - secretRef:
              name: post-forwarder
        ports:
          - containerPort: 8080
