apiVersion: v1
kind: Service
metadata:
  name: post-forwarder
  namespace: post-forwarder
  labels:
    app.kubernetes.io/name: post-forwarder
    app.kubernetes.io/component: api
spec:
  selector:
    app: post-forwarder
    app.kubernetes.io/name: post-forwarder
    app.kubernetes.io/component: api
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      name: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-forwarder
  namespace: post-forwarder
  labels:
    app: post-forwarder
    app.kubernetes.io/name: post-forwarder
    app.kubernetes.io/component: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: post-forwarder
      app.kubernetes.io/name: post-forwarder
      app.kubernetes.io/component: api
  template:
    metadata:
      labels:
        app: post-forwarder
        app.kubernetes.io/name: post-forwarder
        app.kubernetes.io/component: api
    spec:
      initContainers:
        - name: wait-for-redis
          image: busybox:1.36
          imagePullPolicy: IfNotPresent
          command: [ 'sh', '-c', 'until nc -z redis 6379; do echo waiting for redis; sleep 2; done;' ]
      containers:
      - name: post-forwarder
        image: post-forwarder
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
        env:
          - name: REDIS_URL
            value: redis://redis:6379
        envFrom:
          - secretRef:
              name: post-forwarder
        ports:
          - containerPort: 8080
        resources:
          limits:
            cpu: "1"
            memory: 100Mi
          requests:
            cpu: "0.5"
            memory: 100Mi
            ephemeral-storage: 100Mi
