apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: dopplersecret # DopplerSecret Name
  namespace: doppler-operator-system
  labels:
    app.kubernetes.io/name: post-forwarder
    app.kubernetes.io/component: secrets
spec:
  tokenSecret: # Kubernetes service token secret (namespace defaults to doppler-operator-system)
    name: doppler-token-secret
  managedSecret: # Kubernetes managed secret (will be created if does not exist)
    name: post-forwarder
    namespace: post-forwarder # Should match the namespace of deployments that will use the secret
