on:
  release:
    types:
      - created

jobs:
  publish-release-to-docker:
    name: Publish Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache-dependency-path: |
            go.sum
            inf/go.sum
      - uses: actions/checkout@v4
      - uses: ko-build/setup-ko@v0.6
      - name: Build Release and Push to Docker Hub
        run: |
          tag=$(echo ${{ github.ref }} | cut -c11-) 
          ko build -B -t $tag --platform linux/amd64,linux/arm64 ./internal/post-forwarder
          
