on:
  release:
    types:
      - created

jobs:
  publish-release-to-docker:
    name: Publish Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Generate and upload release.yaml
        env:
          KO_DOCKER_REPO: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          tag=$(echo ${{ github.ref }} | cut -c11-) 
          ko build -B -t $tag --platform linux/amd64,linux/arm64 ./internal/post-forwarder
          
